<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    
     
        <nav id="li-items" > 
        <ul>
            
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
            <li>
                <a href="/work">Work</a>
            </li>
        </ul>
    </nav>
    <div id="bio" >
        <p>George Timothy Clooney[3] (born May 6, 1961) is an American actor and filmmaker. He is the recipient of numerous accolades, including a British Academy Film Award, four Golden Globe Awards, and two Academy Awards, one for his acting and the other as a producer. In 2018, he was the recipient of the AFI Lifetime Achievement Award.[4]

            Clooney made his acting debut on television in 1978, and later gained wide recognition in his role as Dr. Doug Ross on the NBC medical drama ER from 1994 to 1999, for which he received two Primetime Emmy Award nominations.
      
            While working on ER, he began attracting a variety of leading roles in films, with his breakthrough role in From Dusk till Dawn (1996),[5][6] and the crime comedy Out of Sight (1998), in which he first worked with director Steven Soderbergh, who would become a long-time collaborator. In 1999, he took the lead role in Three Kings, a well-received war satire set during the Gulf War.
            In 2001, Clooney's fame widened with the release of his biggest commercial success, Soderbergh's heist comedy remake Ocean's Eleven, the first of what became a trilogy, starring Clooney. He made his directorial debut a year later with the biographical spy comedy Confessions of a Dangerous Mind, and has since directed the historical drama Good Night, and Good Luck (2005), the sports comedy Leatherheads (2008), the political drama The Ides of March (2011), and the war film The Monuments Men (2014). Clooney won an Academy Award for Best Supporting Actor for the Middle East thriller Syriana (2005), and subsequently earned Best Actor nominations for the legal thriller Michael Clayton (2007) and the comedy-dramas Up in the Air (2009) and The Descendants (2011). In 2013, he received the Academy Award for Best Picture for producing the political thriller Argo.

As of 2022, Clooney is one of three people to have been nominated for Academy Awards in six different categories, a position shared with Walt Disney and Alfonso Cuaron, and second only to Kenneth Branagh (with seven), and with Brad Pitt is one of only two actors to have won both the Academy Awards for Best Supporting Actor and Best Picture. <br> [7][8] Clooney was included on Time's annual Time 100 list, <br> which identifies the most influential people in the world, every year from 2006 to 2009. <br> [9] He is also noted for his political and economic activism, and has served as one of the United Nations <br> Messengers of Peace since January 31, 2008.[10][11][12] Clooney is also a member of the Council on Foreign Relations.[13] He is married to human rights lawyer Amal Clooney (née Alamuddin).
        </p>
    </div>

</body>
</html>


