<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>George Clooney</title>

    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>

    <nav id="li-items">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/gallery">Gallery</a>
            </li>
        </ul>
    </nav>


            <div id="container2">
                <div>
                    <h2>Famous Movies</h2>
                    <ul id="movie-titles">
                        <li>	The Perfect Storm</li>
                        <li>Ocean's Eleven</li>
                        <li>O Brother, Where Art Thou?</li>
                        <li>	Ocean's Twelve</li>
                        <li>	Michael Clayton</li>
                        <li>Burn After Reading</li>
                        <li>Gravity</li>
                        <li>	Tomorrowland</li>
                        <li>The Descendants</li>
                        <li>	The Midnight Sky</li>
                    </ul>
                </div>
                <div id="work2">
                    <h2>Humanitarian Work</h2>
                    <p id="work">George Clooney has worked to stop the human rights atrocities in the Darfur region of Sudan, and over the years has focused energy on helping those suffering from poverty.

                        Clooney famously founded Not On Our Watch with his Ocean’s 11 co-stars Don Cheadle, Matt Damon, and Brad Pitt, and producer Jerry Weintraub. The organization’s main goal is to stop the genocide occurring in Sudan. Clooney has visited the area personally, and spoken with victims of rape and torture. His charity has donated millions of dollars to help those suffering in the region, with much of the funding going through the United Nations World Food Programme.</p>
                </div>
            </div>




     






</body>

</html>